<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ToDoList</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>IconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGreen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconOrange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconPink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconPinkAlt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconPinkAlt</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>IconYellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconYellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>IconRed(Alt)</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>06ceb8f70becb136dc0e3a334f040b5244b60c38</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>ToDoList app require access to your camera to be able to take pictures</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIAPPLICATION_SHORTCUT_ITEM_TITLE_TOMORROW</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ro.randusoft.RSToDoList.shortcuts.tomorrow</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIAPPLICATION_SHORTCUT_ITEM_TITLE_TODAY</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ro.randusoft.RSToDoList.shortcuts.today</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIAPPLICATION_SHORTCUT_ITEM_TITLE_ALL_TASKS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ro.randusoft.RSToDoList.shortcuts.alltasks</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>UIAPPLICATION_SHORTCUT_ITEM_TITLE_NEW_TASK</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ro.randusoft.RSToDoList.shortcuts.newTask</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main-iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresFullScreen~ipad</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
